# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyd
*.so
*.o
*.dll

# Database files
*.db
*.sqlite3

# Environment variables
.env

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Miscellaneous
.DS_Store
Thumbs.db
